In [1]:
import pandas as pd

In [2]:
# We can either do our intial data cleaning in Excel or in Python
# To see it done in Python, see: Load_Excel_Data_In_Pandas.ipynb

In [3]:
df = pd.read_csv('data/tfl_annualized_data.csv')

In [4]:
df

,Mode,NLC,ASC,Station,Coverage,Source,Mon-Thu Entries,Fri Entries,Sat Entries,Sun Entries,Mon-Thu Exits,Fri Exits,Sat Exits,Sun Exits,En/Ex
0,LU,500,ACTu,Acton Town,Station entry / exit,Gateline,6851,6899,5657,3961,6886,6691,5559,4174,2902697
1,LU,502,ALDu,Aldgate,Station entry / exit,Gateline,8038,6690,5035,3585,9655,8611,7453,4595,3525128
2,LU,503,ALEu,Aldgate East,Station entry / exit,Gateline,12751,13270,13617,9980,11984,12882,12951,8261,5611130
3,LU,505,ALPu,Alperton,Station entry / exit,Gateline,3109,3121,2543,1654,3347,3325,2537,1732,1345253
4,LU,506,AMEu,Amersham,Station entry / exit,Gateline,2384,2249,1745,1089,2315,2175,1545,1063,946577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,TRM,9498,WPKt,Wandle Park,Trams boarding / alighting,APC,1422,1422,1454,932,1538,1538,1509,1065,804251
495,TRM,9499,WLRt,Wellesley Road,Trams boarding / alighting,APC,1150,1150,1029,665,333,333,267,184,389008
496,TRM,8776,WCRt,West Croydon Trams,Trams boarding / alighting,APC,2614,2614,2420,1695,3104,3104,2675,1829,1514414
497,TRM,8777,WMBt,Wimbledon Trams,Trams boarding / alighting,APC,3862,3862,3155,1905,3259,3259,2956,1680,1843892
498,TRM,8779,WDSt,Woodside,Trams boarding / alighting,APC,1088,1088,805,541,881,881,646,471,500843

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Mode             499 non-null    object
 1   NLC              499 non-null    int64
 2   ASC              499 non-null    object
 3   Station          499 non-null    object
 4   Coverage         497 non-null    object
 5   Source           497 non-null    object
 6   Mon-Thu Entries  499 non-null    int64
 7   Fri Entries      499 non-null    int64
 8   Sat Entries      499 non-null    int64
 9   Sun Entries      499 non-null    int64
 10  Mon-Thu Exits    499 non-null    int64
 11  Fri Exits        499 non-null    int64
 12  Sat Exits        499 non-null    int64
 13  Sun Exits        499 non-null    int64
 14  En/Ex            499 non-null    int64
dtypes: int64(10), object(5)
memory usage: 58.6+ KB

In [6]:
# Data cleaning

# https://www.gov.uk/government/news/meet-the-data-quality-dimensions
# The six dimensions of data quality are: (1) accuracy, (2) completeness, (3) uniqueness (4) consistency, (5) timeliness, and (6) validity.
# Let us also include (0) relevance.

# High quality data is data that is fit for the purpose it is intended to be used for.

In [7]:
# 0. Relevance

# We are only interested in London Underground data so we will filter out the other modes of transport.
df = df[df['Mode'] == 'LU']

In [8]:
len(df) # We have reduced the value from 499 to 270

270

In [9]:
# 1. Accuracy
# The data is accurate and correct?

# It is from an official source 
# http://crowding.data.tfl.gov.uk/
# so let us assume it is accurate.

In [10]:
# 2. Completeness: The data is complete and does not contain any missing values.

# Check for missing values
print(df.isnull().sum())
df[df.isnull().any(axis=1)]

Mode               0
NLC                0
ASC                0
Station            0
Coverage           1
Source             1
Mon-Thu Entries    0
Fri Entries        0
Sat Entries        0
Sun Entries        0
Mon-Thu Exits      0
Fri Exits          0
Sat Exits          0
Sun Exits          0
En/Ex              0
dtype: int64

,Mode,NLC,ASC,Station,Coverage,Source,Mon-Thu Entries,Fri Entries,Sat Entries,Sun Entries,Mon-Thu Exits,Fri Exits,Sat Exits,Sun Exits,En/Ex
102,LU,781,HRFu,Heathrow Terminal 4 LU,NaN,NaN,0,0,0,0,0,0,0,0,0

In [11]:
# Drop row with missing values
df = df.dropna()

In [12]:
# 3. Uniqueness: The data is unique and does not contain any duplicates.
# Check for duplicates
print(df.duplicated().sum())
# If there are duplicates, we can drop them using: df = df.drop_duplicates()

0

In [13]:
# 4. Consistency: The data is consistent.
# Consistency is achieved when data values do not conflict with other values within a record or across different data sets.

In [14]:
# 5. Timeliness: The data is timely and up to date.
# This is 2021 data; 2022 data will presumably be available in 2023

In [15]:
# 6. Validity: The data is valid and conforms to the expected rules.
# Set all the appropriate columns except the first to integer

df[df.columns[1]] = df[df.columns[1]].astype(int)
df[df.columns[6:]] = df[df.columns[6:]].astype(int)

# Note that the code below gives a FutureWarning:
# df.iloc[:, 6:] = df.iloc[:, 6:].astype(int)
# df.iloc[:, 1] = df.iloc[:, 1].astype(int)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269 entries, 0 to 269
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Mode             269 non-null    object
 1   NLC              269 non-null    int32
 2   ASC              269 non-null    object
 3   Station          269 non-null    object
 4   Coverage         269 non-null    object
 5   Source           269 non-null    object
 6   Mon-Thu Entries  269 non-null    int32
 7   Fri Entries      269 non-null    int32
 8   Sat Entries      269 non-null    int32
 9   Sun Entries      269 non-null    int32
 10  Mon-Thu Exits    269 non-null    int32
 11  Fri Exits        269 non-null    int32
 12  Sat Exits        269 non-null    int32
 13  Sun Exits        269 non-null    int32
 14  En/Ex            269 non-null    int32
dtypes: int32(10), object(5)
memory usage: 23.1+ KB

In [17]:
# Save the cleaned data
df.to_csv('data/tfl_annualized_data_clean.csv', index = False)

In [18]:
# Check the data was saved correctly
pd.read_csv('data/tfl_annualized_data_clean.csv')

,Mode,NLC,ASC,Station,Coverage,Source,Mon-Thu Entries,Fri Entries,Sat Entries,Sun Entries,Mon-Thu Exits,Fri Exits,Sat Exits,Sun Exits,En/Ex
0,LU,500,ACTu,Acton Town,Station entry / exit,Gateline,6851,6899,5657,3961,6886,6691,5559,4174,2902697
1,LU,502,ALDu,Aldgate,Station entry / exit,Gateline,8038,6690,5035,3585,9655,8611,7453,4595,3525128
2,LU,503,ALEu,Aldgate East,Station entry / exit,Gateline,12751,13270,13617,9980,11984,12882,12951,8261,5611130
3,LU,505,ALPu,Alperton,Station entry / exit,Gateline,3109,3121,2543,1654,3347,3325,2537,1732,1345253
4,LU,506,AMEu,Amersham,Station entry / exit,Gateline,2384,2249,1745,1089,2315,2175,1545,1063,946577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,LU,599,WDLu,Wood Lane,Station entry / exit,Gateline,4727,4596,5027,2902,5242,5144,5649,3263,2194795
265,LU,769,WFDu,Woodford,Station entry / exit,Gateline,6481,6284,5441,3378,6364,5909,4924,3330,2663457
266,LU,771,WSPu,Woodside Park,Station entry / exit,Scaled,3612,3506,2762,1868,6119,5782,4509,3682,2015727
267,LU,831,NIEu,Nine Elms,Station entry / exit,Gateline,2754,2933,2738,1998,2461,2530,2348,1811,1163116
268,LU,832,BPSu,Battersea Power Station,Station entry / exit,Gateline,5262,5337,4518,3109,4911,5016,4369,2905,2177911

In [19]:
# Unless you really want to save as a CSV file, you should save it in a binary file format.
# This is because CSV files are not very efficient and can take up a lot of space.
# Examples of binary file format are the pickle file format, the feather file format, and the parquet file format.
# The particular feature I am interested in preserving here is the data type of each column.

In [20]:
# You will need to install parquet using Anaconda Prompt:
# In Anaconda Prompt, type: 
# conda install -c conda-forge fastparquet

In [34]:
df.to_parquet('data/tfl_annualized_data_clean.parquet', index = False)

In [36]:
# Check the data was saved correctly
df_parquet = pd.read_parquet('data/tfl_annualized_data_clean.parquet')

In [37]:
df_parquet

,Mode,NLC,ASC,Station,Coverage,Source,Mon-Thu Entries,Fri Entries,Sat Entries,Sun Entries,Mon-Thu Exits,Fri Exits,Sat Exits,Sun Exits,En/Ex
0,LU,500,ACTu,Acton Town,Station entry / exit,Gateline,6851,6899,5657,3961,6886,6691,5559,4174,2902697
1,LU,502,ALDu,Aldgate,Station entry / exit,Gateline,8038,6690,5035,3585,9655,8611,7453,4595,3525128
2,LU,503,ALEu,Aldgate East,Station entry / exit,Gateline,12751,13270,13617,9980,11984,12882,12951,8261,5611130
3,LU,505,ALPu,Alperton,Station entry / exit,Gateline,3109,3121,2543,1654,3347,3325,2537,1732,1345253
4,LU,506,AMEu,Amersham,Station entry / exit,Gateline,2384,2249,1745,1089,2315,2175,1545,1063,946577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,LU,599,WDLu,Wood Lane,Station entry / exit,Gateline,4727,4596,5027,2902,5242,5144,5649,3263,2194795
265,LU,769,WFDu,Woodford,Station entry / exit,Gateline,6481,6284,5441,3378,6364,5909,4924,3330,2663457
266,LU,771,WSPu,Woodside Park,Station entry / exit,Scaled,3612,3506,2762,1868,6119,5782,4509,3682,2015727
267,LU,831,NIEu,Nine Elms,Station entry / exit,Gateline,2754,2933,2738,1998,2461,2530,2348,1811,1163116
268,LU,832,BPSu,Battersea Power Station,Station entry / exit,Gateline,5262,5337,4518,3109,4911,5016,4369,2905,2177911

In [40]:
# Compare the sizes of the CSV and the parquet file
import os
print(os.path.getsize('data/tfl_annualized_data_clean.csv'))
print(os.path.getsize('data/tfl_annualized_data_clean.parquet'))

28528
19462